{% extends 'package/snippets/package_form.html' %}

{% set form_style = c.form_style or c.action %}

{% block stages %}
  {% if not h.ed_is_admin(c.user) %}

    <div class="alert alert-warning" role="alert">
        <p><strong>{{ _('Note:') }}</strong></p>
        {% if form_style != 'edit' %}
          <p>This dataset will be submited for approval by an Office Administrator.</p>
          <p>While being reviewed members of other offices or the general public won't be able to access it.</p>
        {% else %}
          <p>This dataset is awaiting approval from an Office Administrator.</p>
          <p>Changes made now won't be public until the dataset is approved.</p>
        {% endif %}
    </div>

  {% endif %}

  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block save_button_text %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% else %}
    {{ _('Update Dataset') }}
  {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and h.check_access('package_delete', {'id': c.pkg_dict.id}) %}
    {{ super() }}
  {% endif %}
{% endblock %}
